{% extends "_base.html" %}
{% block content %}

<div id="project-coaching-page" class="b-content-page">
	<div class="b-page-title m-project-coaching">
    <div class="row">
      <div class="column large-12">
        <h2>Coaching Programs</h2>
        <p>Geared to the purpose-driven participant inside and outside of government (both individuals and teams) passionate about a public problem and already undertaking a project, these programs are designed to help participants develop a project from idea to implementation.</p>
      </div>
    </div>
  </div>
  <div class="row b-content-section">
    <section class="b-course-mechanics column large-6">
      <h2>Programs offer</h2>
      <ul class="b-list">
        <li>Frequent and constructive feedback</li>
        <li>Customized and original learning materials</li>
        <li>Peer-to-peer support</li>
        <li>Connections to skills and topic mentors</li>
        <li>Group meetings online with faculty and expert guests. Faculty and staff online office hours with the teams to address project progress</li>
      </ul>
      <a href="http://goo.gl/forms/j403fD74Jk" target="_blank" class="e-button">Suggest a coaching program</a>
    </section>
    <section class="b-course-info column large-6">
      <h2>Program Info</h2>
      <ul>
        <li><strong>WHO</strong>Public entrepreneurs with an identified project on a specific civic tech theme. Maximum of 12 individuals and/or teams per program. By application only</li>
        <li><strong>WHAT</strong> A blend of group sessions, peer to peer coaching, expert mentoring and private "office hours" with Academy faculty</li>
        <li><strong>WHEN</strong>Every week (for 5 weeks) or every other week (for 10 weeks)</li>
        <li><strong>WHERE</strong>Online</li>
      </ul>
      <a href="./coaching-programs.html#faqs" class="e-button">FAQs</a>
    </section>
  </div>
  <section class="b-course-graph row b-content-section">
    <div class="column large-12">
      <h2>Our Method</h2>
    </div>
    <div class="column large-12">
      <img src="./static/img/coaching-diagram2.png" alt="Coaching program Lifecycle">
    </div>

    <div class="column large-12">
      <br>
      <ul class="b-list">
        <li>A flexible, customized program responsive to the participants’ specific needs and challenges</li>
        <li>Rigorous diagnosis of impediments to project implementation</li>
        <li>Emphasis on specific and evidence-based problem definition to ensure that the project solves a well-defined problem</li>
        <li>A combination of subject-matter and skills-based training to address both deficits in knowledge about</li>
        <li>innovation and in know how about how to apply that knowledge to one’s own project</li>
        <li>Peer-to-peer support where similarly situated public entrepreneurs counsel and support each other through challenges together</li>
        <li>Mentoring and coaching from experts with a track record of leading successful social change</li>
        <li>High-quality original and curated content, tools, and resources</li>
        <li>Successful participants receive an authenticated, digital certificate upon completion</li>
      </ul>
    </div>
  </section>

  <section class="b-course-list b-upcoming-courses row b-content-section">
    <ul class="column large-12">
      {% for course in coaching|sort(attribute='start_date',reverse=False) %}
        {% if course.is_active and not course.outdated %}
          <li class="b-course-list-item m-coaching">
            {% if course.date %}
              <h4 class="e-course-date" data-date="{{course.start_date}}"><span>Starts the week of: </span>{{course.date.week_start}}</h4>
            {% endif %}

            <h3 class="e-course-name">{{course.name}}</h3>

            <div class="e-certifications">
              {% if course.certificates.blended %}
                <img src="./static/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
              {% endif %}

              {% if course.certificates.online %}
                <img src="./static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
              {% endif %}

              {% if course.certificates.in_person %}
                <img src="./static/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
              {% endif %}

              {% if course.certificates.for_certificate %}
                <a href="./about.html#badges"><img src="./static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification"></a>
              {% endif %}

              {% if course.certificates.for_credit %}
                <img src="./static/img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
              {% endif %}
            </div>

            <div class="e-course-description">
              <p>{{course.description_short}}</p>
            </div>

            <h4 class="e-course-application"><span>Application due: </span> {{course.date.application}}</h4>

            {% if course.faculty_members %}
              <div class="e-course-faculty">
                {% for name in course.faculty_members %}
                  {% if people|selectattr("fullName", "equalto", name)|first|isEmpty %}
                    {{("!!!! ERROR !!!!!: person cannot be found: " + name) |debug}}
                  {% else %}
                    {{ showPerson(people|selectattr("fullName", "equalto", name)|first, "m-mini-card") }}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            {% if course.actions %}
              <div class="e-course-controls">
                {% for button in course.actions %}
                  <a class="e-button" href="{{course.name | slug + "-detail.html"}}">More Info</a>
                {% endfor %}
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section class="b-course-list b-past-courses row b-content-section">
    <div class="column large-12">
      <h3>Past Courses</h3>
    </div>

    <ul class="column large-12">
      {% for course in coaching|sort(attribute='start_date',reverse=True) %}
        {% if course.is_active and course.outdated %}
          <li class="b-course-list-item m-coaching">
            {% if course.date %}
              <h4 class="e-course-date" data-date="{{course.start_date}}"><span>Started the week of: </span>{{course.date.week_start}}</h4>
            {% endif %}

            <h3 class="e-course-name">{{course.name}}</h3>

            <div class="e-certifications">
              {% if course.certificates.blended %}
                <img src="./static/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
              {% endif %}

              {% if course.certificates.online %}
                <img src="./static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
              {% endif %}

              {% if course.certificates.in_person %}
                <img src="./static/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
              {% endif %}

              {% if course.certificates.for_certificate %}
                <a href="./about.html#badges"><img src="./static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification"></a>
              {% endif %}

              {% if course.certificates.for_credit %}
                <img src="./static/img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
              {% endif %}
            </div>

            <div class="e-course-description">
              <p>{{course.description_short}}</p>
            </div>

            {% if course.faculty_members %}
              <div class="e-course-faculty">
                {% for name in course.faculty_members %}
                  {% if people|selectattr("fullName", "equalto", name)|first|isEmpty %}
                    {{("!!!! ERROR !!!!!: person cannot be found: " + name) |debug}}
                  {% else %}
                    {{ showPerson(people|selectattr("fullName", "equalto", name)|first, "m-mini-card") }}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            {% if course.actions %}
              <div class="e-course-controls">
                {% for button in course.actions %}
                  <a class="e-button" href="{{course.name | slug + "-detail.html"}}">More Info</a>
                {% endfor %}
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>


	<section id="faqs" class="b-faqs m-active ">
    <div class="row b-content-section">
      <div class="column large-12">
        <h2 class="e-faq-trigger">FAQs</h2>
        <div class="b-faq-item">
          <p class="e-question">What is an Academy Coaching Program?</p>
          <p class="e-answer">Coaching programs are designed to help you take a project from idea to implementation and to scale. It is a hands-on, learning and mentoring program to help you design and implement solutions to a public interest problem using civic technology. Unlike a traditional accelerator, we focus only on the public interest and only on projects that work with real-world institutions and partners, such as agencies and NGOs, to develop more effective and scalable initiatives.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">What is the goal of the GovLab Academy?</p>
          <p class="e-answer">The goal of the GovLab Academy is to train public problem solvers – what we call public entrepreneurs – to use technology to create implementable engagement projects with the ultimate objective of improving people’s lives. We do not measure success by levels of enrollment but by the impact participant projects create.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How Does it Work?</p>
          <p class="e-answer">The coaching programs are limited enrollment (maximum class size of 12 projects), entirely online, highly customized, and meet every week for 5 consecutive weeks or every other week for 10 weeks. To help you and your team become more effective, we offer a combination of coaching and skill-building, connection to a network of subject-matter experts, peer-to-peer mentoring, customized and original learning materials, and frequent and constructive feedback opportunities from a team of teachers and peers at every stage of your agile design-driven process.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Where Do the Sessions Meet?</p>
          <p class="e-answer">Entirely online.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How Much Time Will This Take?</p>
          <ul class="e-answer">
            <p>The coaching programs meet every week for 5 consecutive weeks or every other week for 10 weeks. The full group meets online with the faculty for 1-2 hours where one hour is discussion of projects by the group and the second hour is a guest lecture. On the alternate weeks of a ten week program, participants meet peer to peer for mutual support or with coaches and mentors for individualized consultations to address project progress. A five week course will have full group sessions as well as office hours and peer to peer support occurring during the same weeks as full group meetings.</p>
            <p>In addition, work will also take place through online channels such as email and discussion forums. Upon admission, faculty and staff will engage with your team to identify opportunities, diagnose problems, review resources and begin to establish a mentor network that may be useful for your specific project and you will be expected to come prepared for the first session.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who May Apply?*</p>
          <div class="e-answer">
            <p>Public entrepreneurs working inside, outside, or in collaboration with public institutions. We will give strong preference to team, as opposed to individual, applications and we welcome submissions from the public, private and civil society sectors.</p>
            <p>No formal technology training is assumed or required, but an interest in using technology to solve public problems is key.</p>
            <p>And you have:</p>
            <ul class="b-list">
              <li>A problem about which you are passionate</li>
              <li>An open mind to developing innovative approaches that take advantage of technology to bring the broader palette of human expertise to bear on your problem</li>
              <li>Intellectual curiosity and a willingness to experiment and play with new tools</li>
              <li>Time and energy to commit to the program activities</li>
              <li>The drive to do what it takes to develop a project from idea to implementation with the potential of real-world impact for people and communities -- keeping in mind that the way to have the greatest impact might not involve building an app or creating a new non-profit, but collaborating with others</li>
            </ul>
            <p>* Further pre-requisites may apply on specific courses</p>
          </div>
        </div>

         <div class="b-faq-item">
          <p class="e-question">What types of projects do participants work on?</p>
          <p class="e-answer">Participants work on projects about which they are passionate and which are designed to tackle a social problem often, but not exclusively, using new technology or innovative problem solving approaches. Visit our <a hred="http://govlabacademy.org/project-gallery.html">project gallery</a> to learn about the types of problems and solutions that have been addressed by GovLab Academy alumni.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">There are Three People in My Office Who Want to Do This. Can Teams Apply?</p>
          <p class="e-answer">Yes, people are encouraged to apply as a team. Each member must complete his or her own skills profile as part of the course application. Participants can also choose to collaborate with others in their program.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How Do I Apply?</p>
          <div class="e-answer">
            <p>Please <a href="https://screendoor.dobt.co/the-govlab/coaching-programs-application-form">click here to fill out an application for an Academy Coaching program</a>. The same form can be used for all of the Academy Programs.</p>
            <p>As part of the application, we ask you to tell us about the problem you or your team want to tackle with your project. This problem definition is an integral first step in every Academy program.</p>
          </div>
        </div>

         <div class="b-faq-item">
          <p class="e-question">If I start, do I have to finish or is this like a MOOC where I can do it at my own pace?</p>
          <p class="e-answer">Coaching programs are short duration, intensive and real time. Hence admitted applicants will be asked to sign this <a href="http://govlabacademy.org/static/files/letter-of-commitment.pdf">letter of commitment</a>. We expect you to invest as much in the program as we invest in you. When you finish, we award you an authenticated badge and certificate.</p>
        </div>   

        <div class="b-faq-item">
          <p class="e-question">There are Three People in My Office Who Want to Do This. Can Teams Apply?</p>
          <p class="e-answer">Yes, people are encouraged to apply as a team. Each member must complete his or her own skills profile, but teams work on a common project throughout the program. People can choose to become a team and work on a common project during the course of the program.
          </p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">When is the Application Due?</p>
          <div class="e-answer">
            <table class="b-faq-table">
              <thead>
                <th class="e-name-col">Projects Focus</th>
                <th class="e-application-col">Application due</th>
                <th class="e-start-col">Starts the week of</th>
              </thead>
              <tbody>
                {% for course in coaching|sort(attribute='start_date',reverse=True) %}
                <tr>
                  <td class="e-name-col">{{course.name}}</td>
                  <td class="e-application-col">{{course.date.application}}</td>
                  <td class="e-start-col">{{course.date.week_start}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who will lead each program?</p>
          <p class="e-answer">Each coaching program will be led by a domain expert relevant to the course topic with the active support of the GovLab Academy team. You can read about the exceptional background and expertise of our Faculty <a href="http://govlabacademy.org/about.html#team-cards">here</a>. Coaches are supported by Teaching Assistants as well as additional mentors and experts.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Get Course Credit?</p>
          <p class="e-answer">Those who successfully complete the program requirements will receive an authenticated badge and certificate from the GovLab.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How long is the program?</p>
          <p class="e-answer">The length of each program is every week for 5 consecutive weeks or every other week for 10 weeks.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Have to Pay Something?</p>
          <div class="e-answer">
            <p>Free coaching programs are supported by philanthropic support that enable us to offer the program at no cost to you. Where there is a fee indicated, that cost is per project (team or individual). Once you have been accepted into the program (approximately 3-5 business days after the application deadline), you will receive a tuition invoice from the GovLab Academy Team. The tuition should be paid in full prior to the start of the program through Paypal. Some scholarships may be available and we invite you to <a href="mailto:info-academy@thegovlab.org">email us</a> if you or your team cannot afford the cost.</p> 
            <p>For additional questions about tuition payment, please <a href="mailto:info-academy@thegovlab.org">contact us</a>.</p>
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who are the Mentors? Can I Pick My Own?</p>
          <p class="e-answer">Mentors are either subject matter experts working on similar problems or challenges or people who have a track record as effective change agents. You can find your own, but we commit to helping to pair you with relevant domain experts. The best mentors, of course, are your classmates.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">This Looks Like a Lot of Work?</p>
          <p class="e-answer">It is. This is not a simulation but an opportunity to get a real project closer to implementation. A lot of work will need to get done outside the classroom, such as user interviews and background research. In most cases, people are working on projects relevant to their work or to their passions and the commitment is worth it.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Will I receive a certificate upon completion of the program?</p>
          <p class="e-answer">We will provide a Certificate of Accomplishment through Basno.com for individuals who complete all requirements of each program.  Certificates are authenticated and escrowed.</p>
        </div>
      </div>
    </div>
  </section>

	<section id="contact-message" class="row b-content-section">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </section>
	</div>

{% endblock %}
