<div class="row b-content-section">
  <div class="column large-12">
    <h2>Testimonials</h2>
    <h4>What have you accomplished with the help of the coaching program that you wouldn't have been able to do on your own?</h4><br>
  </div>
    <div class="column large-12">
      <ul class="b-testimonials">
        <li>“Formulating a problem statement was an invaluable exercise for us. It forced us to really think hard about what we'd like to do and don't know how to do and what we'd like to do but just haven't started trying to do it.”</li><br>
        <li>“I've been connected to a lot of folks all over the world who are working on the same problem and I've gotten very valuable feedback about how to implement my project.”</li><br>
        <li>“I have been able to use the GovLab Academy Public Projects Canvas. I have also connected with peer support that I would have otherwise not known about.”</li><br>
        <li>“The problem statement, the Canvas, to think about Data Responsibility and also to develop a pitch to convince sponsors. Overall, the coaching program helped me to have a better plan to implement.”</li><br>
        <li>“The program helped us define the problem we are trying to address.  Through the problem definition exercises, we were able to discuss different solutions.”</li><br>
        <li>“Define the problem.  Breakdown the project to more feasible steps.  Focus on the next thing. Come up with a good story”</li><br>
        <li>“This process helps us to structure a longer term project which often gets placed on the back burner in lieu of other more pressing deadlines.  Having the structure of this project has helped push it along and turn it into a reality”</li><br>
        <li>“Connections to industry experts and mentoring that shaped the project goals and structure.”</li><br>
        <li>“The feedback on the problem statement has been incredibly useful. I also really appreciated expert feedback on the problem pitch - as it helped us better understand that our project is iterative, and thus has multiple points of success.”</li><br>
        <li>“Getting outside critiques and experience, plus a forum that forced us to refine our ideas”</li><br>
        <li>“Put me in touch with the New York City Mayor's Office of Criminal Justice.” </li><br>
      </ul>
    </div>
</div>


